/* font */
$font-stack:    Helvetica, sans-serif;

/* font colors */
$text-font-color: #6A6A6A;
$text-white-font-color: #fff;
$title-font-color: #452DB4;
$succes-font-color: #335D4C;
$error-font-color: #793039;

/* font sizes */
$rembase: 16;
$p-font-size-large  : 1rem;
$p-font-size-medium : 0.875rem;
$p-font-size-small  : 0.75rem;

/* background color from/to */
$from:#3023AE;
$to:#C86DD7;

/* generic lateral padding */
$pad-h:0 20px;
$pad-v:15px 0;
$pad-h-v: 10px 20px;
$pad-h-v-titles:25px 20px;

/* background color */
$white-background-color: #fff;
@mixin linear-gradient-v($from, $to) {
    background: $to;
      background: -moz-linear-gradient(top, $from 0%, $to 100%);
      background: -webkit-gradient(linear, top top, right bottom, color-stop(0%,$from), color-stop(100%,$to));
      background: -webkit-linear-gradient(top, $from 0%,$to 100%);
      background: -o-linear-gradient(top, $from 0%,$to 100%);
      background: linear-gradient(to bottom, $from 0%,$to 100%);
}

@mixin linear-gradient-h($from, $to) {
    background: $to;
      background: -moz-linear-gradient(left, $from 0%, $to 100%);
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$from), color-stop(100%,$to));
      background: -webkit-linear-gradient(left, $from 0%,$to 100%);
      background: -o-linear-gradient(left, $from 0%,$to 100%);
      background: linear-gradient(to right, $from 0%,$to 100%);
}

/* box-shadow mixin */
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
      -webkit-box-shadow:inset $top $left $blur $color;
      -moz-box-shadow:inset $top $left $blur $color;
      box-shadow:inset $top $left $blur $color;
    } @else {
      -webkit-box-shadow: $top $left $blur $color;
      -moz-box-shadow: $top $left $blur $color;
      box-shadow: $top $left $blur $color;
    }
}
/* box-shadow mixin session */
$tops:0;
$lefts:4px;
$blurs:4px;
$colors:rgba(0, 0, 0, 0.2);
/* box-shadow mixin */
@mixin box-shadow($tops, $lefts, $blurs, $colors, $inset: false) {
    -moz-box-shadow: $tops $lefts $blurs $colors;
    -webkit-box-shadow: $tops $lefts $blurs $colors;
    box-shadow: $tops $lefts $blurs $colors;
}

/* gray background */
$gray-background-color: #DCDCDC;
/* background success / error colors */
$succes-background-color: #49D59D;
$error-background-color: #FB8392;

/* hr */
%hr {
    height: 1px;
    @include linear-gradient-h($from, $to);
    margin: 0;
}

/* icons */
%icon {
    width: 30px;
    font-size: 35px;
}

/* main button */
%main-button {
    border: 0;
    padding: 13px;
    text-align: center;
    color: $text-white-font-color;
    width: 100%;
    @include linear-gradient-h($from, $to);
}
/* input-box */
%input-box {
    border: 1px solid #DCDCDC;
    padding: 10px;
    color: $text-font-color;
    @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));
    width: 100%;
    outline: none !important;
}

/***************************************************************/
body{
    color: $text-font-color;
}
h1, h2, h3, h4, h5, h6 {
    margin:0;
}
h3 {
    font-size: $p-font-size-large;
}
.medium {
    font-size: $p-font-size-medium;
}
hr {
    @extend %hr;
}
.no-gutters {
    padding: 0;
}
button {
    @extend %main-button;
}

/* log in user */
.log-in-section {
    height: 100vh; 
    @include linear-gradient-v($from, $to);
    img {
        width: 70px;
    }
    h1 {
        color: $text-white-font-color;
        letter-spacing: 2px;
    }
}
.log-in-section-form {
    padding: $pad-h;
    input {
        padding: $pad-v;
    }
    input[type="button"] {
        background: $white-background-color;
        border: 0;
    }
    input[type="text"],
    input[type="password"]{
        padding: 10px 0;
        background: transparent;
        border: 0;
        padding-left: 20px;
        color: #fff;
        border-bottom: 1px solid #fff;
        outline: none !important;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #b98cc5;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: #b98cc5;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: #b98cc5;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: #b98cc5;
    }
}
.log-in-section-title {
    padding: 70px 0 45px;;
}
.log-in-section-recovery {
    padding: $pad-v;
    a {
        color: $text-white-font-color;
    }
}

/* event section */
    /* nav bar */
    .navbar {
        @include linear-gradient-h($from, $to);
        .navbar-brand {
            font-size: $p-font-size-large;
            span {
                margin-top: 5px;
                vertical-align: sub;
            }
        }
        i {
            @extend %icon;
            color: $text-white-font-color;
        }
    }

/* title section ********************************/
.section-title {
    padding: $pad-h-v-titles;
    h3{
        font-size: $p-font-size-large;
    }
    span {
        margin-left: 5px;
    }
}

/* events module and images */
.event-section {
    h2, p{
        font-size: $p-font-size-large;
    }
}
.event-section-title {
    background-color: rgba(255, 255, 255, 0.5);
    a{
        position: absolute;
        top: 10px;
        right: 20px;
        i{
            @extend %icon;
            color:$title-font-color;
        }
    }
}

/* session section */
.session-subsection {
    padding: $pad-h-v-titles;
    @include box-shadow($tops, $lefts, $blurs, $colors);
    h3 {
        margin-bottom: 5px;
    }
    .session-subsection-info {
        padding: $pad-v;
    }
}

/* tickets section */
.tickets-section {
    .section-title{
        span{
            font-size: $p-font-size-small;
            margin-left: 0;
        }
    }
}
.section-tickets-title {
    color: $title-font-color;
    padding: $pad-h-v-titles;
}
.section-ticket-searcher {
    padding: $pad-h-v-titles;
    input {
        @extend %input-box;
    }
    a {
        color: $title-font-color !important; 
        border-bottom: 1px solid #452DB4;
    }
    p{
        margin-bottom: 0;
    }
}
.section-ticket-list {
    p:not(.text-left).selected{
        background: $succes-background-color;
        color:$succes-font-color;
        margin-bottom: 0;
        padding: $pad-v;
    }
    p:not(.text-left){
        background: $gray-background-color;
        margin-bottom: 0;
        padding: $pad-v;
    }
}
.section-ticket{
    margin-top: 20px;
    margin-bottom: 20px;
    .section-ticket-content {
        border: 1px solid #DCDCDC;
        border-left:2px solid $title-font-color;
        padding: $pad-h-v;
        @include box-shadow($tops, $lefts, $blurs, $colors);
        span.small-text {
            font-size: $p-font-size-small
        }
        .section-ticket-validate{
            padding:5px 10px;
            background: $gray-background-color;
            margin-top:5px;
        }
        .success {
            background: $succes-background-color;
            color:$succes-font-color;
        }
    }
}
.succes-validation-text{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: $pad-h-v;
    background: $succes-background-color;
    color:$succes-font-color;
    p {
        margin-bottom: 0;
    }
}
.error-validation-text{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: $pad-h-v;
    background: $error-background-color;
    color: $error-font-color; 
    p {
        margin-bottom: 0;
    }
}

/* user configuration Admin */
.user-section {
    .section-title span {
        color: $title-font-color;
        border-bottom: 1px solid $title-font-color;
    }
    .user-info-section {
        padding-top: 15px;
        p{
            margin-bottom: 0.2rem;
        }
        span {
            color: $text-font-color;
            border-bottom: 0;
        }
        span:nth-child(2n){
            color: $title-font-color;
        }
    }
    .user-actions {
        padding-top: 15px;
        p {
            font-size: $p-font-size-medium;
            margin-bottom: 0;
        }
        button {
            margin: 10px 0;
        }
    }
}

/* create user */
.create-user-section {
    span:nth-child(2n){
        color: $title-font-color;
    }
    .user-info-section {
        padding-top: 15px;
    }
    input[type="text"],
    input[type="password"] {
      @extend %input-box;
    }
    input[type="radio"] {
      margin-bottom: 25px;
      margin-left: 10px;
      margin-right: 5px;
    }
}

/* delete user */
.delete-user-section {
    span:nth-child(2n){
        color: $title-font-color;
    }
    .user-info-section {
        padding-top: 15px;
    }
    input[type="text"],
    input[type="password"] {
      @extend %input-box;
    }
    input[type="radio"] {
      margin-bottom: 25px;
      margin-left: 10px;
      margin-right: 5px;
    }
    button {
        background:$error-background-color !important;
        color:$error-font-color !important;
    }
}

/* update user */
.update-user-section {
    span:nth-child(2n){
        color: $title-font-color;
    }
    .user-info-section {
        padding-top: 15px;
    }
    input[type="text"],
    input[type="password"] {
      @extend %input-box;
    }
    input[type="radio"] {
      margin-bottom: 25px;
      margin-left: 10px;
      margin-right: 5px;
    }
}