/* create user */
.create-user-section{
  padding-bottom: 25px; }
.create-user-section input[type="text"],
.create-user-section input[type="password"] {
  border: 1px solid #DCDCDC;
  padding: 10px;
  color: #6A6A6A;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
  outline: none !important; }
.create-user-section span:nth-child(2n) {
    color: #452DB4; }
  .create-user-section .user-info-section {
    padding-top: 15px; }
    .create-user-section input[type="radio"] {
        margin-bottom: 25px;
        margin-left: 10px;
        margin-right: 15px; }