
/* font */
/* font colors */
/* font sizes */
/* background color from/to */
/* generic lateral padding */
/* background color */
/* box-shadow mixin */
/* box-shadow mixin session */
/* box-shadow mixin */
/* gray background */
/* background success / error colors */
/* hr */
body {
  color: #6A6A6A; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h3 {
  font-size: 1rem; }

.medium {
  font-size: 0.875rem; }

.no-gutters {
  padding: 0; }

hr {
  height: 1px;
  background: #C86DD7;
  background: -moz-linear-gradient(left, #3023AE 0%, #C86DD7 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #3023AE), color-stop(100%, #C86DD7));
  background: -webkit-linear-gradient(left, #3023AE 0%, #C86DD7 100%);
  background: -o-linear-gradient(left, #3023AE 0%, #C86DD7 100%);
  background: linear-gradient(to right, #3023AE 0%, #C86DD7 100%);
  margin: 0; }

/* icons */
.navbar i, .event-section-title a i {
  width: 30px;
  font-size: 35px; }

/* main button */
button {
  border: 0;
  padding: 13px;
  text-align: center;
  color: #fff;
  width: 100%;
  background: #C86DD7;
  background: -moz-linear-gradient(left, #3023AE 0%, #C86DD7 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #3023AE), color-stop(100%, #C86DD7));
  background: -webkit-linear-gradient(left, #3023AE 0%, #C86DD7 100%);
  background: -o-linear-gradient(left, #3023AE 0%, #C86DD7 100%);
  background: linear-gradient(to right, #3023AE 0%, #C86DD7 100%); }

/* input-box */
.section-ticket-searcher input, .create-user-section input[type="text"],
.create-user-section input[type="password"] {
  border: 1px solid #DCDCDC;
  padding: 10px;
  color: #6A6A6A;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
  outline: none !important; }

/* section-titles */
.section-title{
  padding-top: 15px;
  padding-bottom: 15px;
}
.section-title span {
  font-size: 0.75rem;
}